//Size
$height: 100%;
$big_pixel: 100px;
$small_pixel: 10px;
$pxl: $big_pixel * 4;
$pxl1: $big_pixel * 6;
$pxl2: $small_pixel * 6;
$pxl3: $small_pixel - 4px;
$basicHt: $small_pixel * 3;
$basicWdt: 35px;
$buttonWidth: $small_pixel * 12;
$buttonHeight: $small_pixel * 5;
$iconWidth: $big_pixel * 15;
$iconHeight: $small_pixel * 25;
$gaps: $small_pixel * 4;
$gap: $small_pixel * 1;
$portion: 1fr;
$spaces: 10px 0 0 0;
$basic: 0 0 15px 0;
$bigpixels: $big_pixel * 3;
$largeSize: 768px;
$wdt: 50vw;
$biggerA: 100vh;
$maxRad: 999px;

//Font
$family: 'DM Mono', Helvetica, sans-serif;
$default: 1rem;
$padding: $default + 1rem;
$bigSize: $default + 0.6rem;
$sizeA: $default - 0.3rem;
$bigger: $default + 3rem;
$sizeB: $default + 9rem;
$sizeC: $default - 0.1rem;
$sizeD: $default - 0.7rem;
$sizeE: $default + 0.5rem;
$heading: $default * 3;
$caption: $default + 0.3rem;
$big: $default + 0.2rem;
$para: $default + 0.1rem;
$small: $default - 0.2rem;
$mini: $default - 0.5rem;
$size: $default - 0.6rem;
$bold: 700;
$regular: 400;
$thin: 100;
$reg: $bold - 100;

//colors
$white: #ffffff;
$pink: #fab2be;
$gray: #808080;
$black: #000000;
$shadow: rgba(0, 0, 0, 0.5);
$mustard: #efbc3c;
$customColor: #111;
$cusColor: #555;
$blue: blue;
$boxShadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
$logo: #b09954;
$whitesmoke: whitesmoke;
$custColor: rgb(251, 239, 201);
$defaultColor: #f5a0a0;
$red: #f00;
$cusCol: #333;
$custCol2: rgb(158, 2, 2);
$custCol3: rgba(0, 0, 0, 0.4);
$custCol4: rgba(0, 0, 0, 0.1);
