//Font
$family: 'DM Mono', Helvetica, sans-serif;
$default: 1rem;
$heading: $default + 3rem;
$caption: $default + 0.3rem;
$big: $default + 0.2rem;
$para: $default + 0.1rem;
$bold: 700;
$regular: 400;
$thin: 100;

//colors
$white: rgb(255, 255, 255);
$pink: rgb(250, 178, 190);
$gray: rgb(128, 128, 128);
$black: rgb(0, 0, 0);
$shadow: rgba(0, 0, 0, 0.5);
$link: rgb(17, 17, 17);
$quote: rgb(85, 85, 85);
$emptyLink: rgb(0, 0, 255);
$boxShadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
$card: rgb(245, 245, 245);
$gradientDark: rgb(251, 239, 201);
$warn: rgb(245, 160, 160);
$error: rgb(255, 0, 0);
$delete: rgb(158, 2, 2);
$bottomNav: rgba(0, 0, 0, 0.4);
$icon: rgba(0, 0, 0, 0.1);
