@import '../../styles/main.scss';

// ERROR STYLES
.topError {
  background-color: $warn;
  color: $error;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
  button {
    padding: 0;
    background: none;
    color: $error;
    &:active {
      box-shadow: none;
    }
  }
}
// BUTTON GROUP STYLE
.btn-group {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  button {
    width: 100%;
  }
}
