@import '../../styles/main.scss';

// ERROR STYLES
.topError {
  background-color: $defaultColor;
  color: $red;
  font-weight: bold;
  padding: $default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $sizeA;
  button {
    padding: 0;
    background: none;
    color: $red;
    &:active {
      box-shadow: none;
    }
  }
}
// BUTTON GROUP STYLE
.btn-group {
  display: flex;
  justify-content: center;
  column-gap: $size;
  button {
    width: $height;
  }
}
