@import '../../styles/main.scss';

// LOG PAGE CONTAINER STYLES
.log-page-container {
  display: grid;
  grid-template-columns: $portion $portion;
  gap: $default;
  background-image: linear-gradient($custColor, $white);
}
// DETAIL SECTION STYLES
.detail-section {
  padding: $padding;
  border-radius: $mini;
  box-shadow: $boxShadow;
  margin-bottom: $padding;
  min-height: $sizeB;
  height: $height;
  background-color: $whitesmoke;
}

.flex-ic {
  display: flex;
  column-gap: $mini;
  opacity: 0.7;
  p {
    margin: 0;
  }
}

// LOG USER STYLES
.log-user {
  font-weight: $reg;
  color: $cusCol;
}
// MAP  SECTION STYLES
.map-section {
  height: $height;
  min-height: $pxl;
}
// MEDIA QUERIES
@media screen and (max-width: $pxl1) {
  .log-page-container {
    grid-template-columns: $portion;
  }
}
// GROUP BUTTON STYLES
.btn-group {
  display: flex;
  gap: $small;
  margin-top: $sizeC;
  justify-content: flex-end !important;
  & .trash_btn {
    background-color: $custCol2;
    width: $height;
  }
}
