@import '../../styles/main.scss';

// LOG PAGE CONTAINER STYLES
.log-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  background-image: linear-gradient($gradientDark, $white);
}
// DETAIL SECTION STYLES
.detail-section {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: $boxShadow;
  margin-bottom: 2rem;
  min-height: 10rem;
  height: 100%;
  background-color: $card;
}

.flex-ic {
  display: flex;
  column-gap: 0.5rem;
  opacity: 0.7;
  p {
    margin: 0;
  }
}

// LOG USER STYLES
.log-user {
  font-weight: $regular;
  color: #333;
}
// MAP  SECTION STYLES
.map-section {
  height: 100%;
  min-height: 400px;
}
// MEDIA QUERIES
@media screen and (max-width: 600px) {
  .log-page-container {
    grid-template-columns: 1fr;
  }
}
// GROUP BUTTON STYLES
.btn-group {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.9rem;
  justify-content: flex-end !important;
  & .trash_btn {
    background-color: $delete;
    width: 100%;
  }
}
