@import '../../styles/main.scss';

.error404 {
  background-image: linear-gradient($gradientDark, $white);
  text-align: center;
  font-family: $family;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.bowl {
  width: 1500px;
  height: 250px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.text {
  font-family: $family;
  display: flex;
  justify-content: center;
  text-align: center;
  color: $gray;
  font-size: $big;
  padding-top: 10px;
}

.textA {
  font-family: $family;
  display: flex;
  justify-content: center;
  text-align: center;
  color: $gray;
  font-size: $big;
  padding-bottom: 40px;
}

.homeBtn {
  background-color: $pink;
  width: 120px;
  height: 50px;
  outline: auto;
  outline-color: $black;
}

.homeLink {
  font-family: $family;
  text-decoration: none;
  color: $black;
  font-size: $para;
  h3 {
    margin: 0;
  }
}
