@import '../../styles/main.scss';

// CONTAINER STYLES
.container {
  .logo {
    padding: 10px 0 0 0;
  }
  h1 {
    text-align: center;
    font-size: $heading;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.public-logs-container {
  color: $black;
  background-image: linear-gradient($gradientDark, $white);
}
//LOG TILES STYLES
.logs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
//LOG ARTICLES STYLES
.log-article {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: $card;
  box-shadow: $boxShadow;
  height: 100%;
  a {
    color: $link;
    width: max-content;
    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  blockquote {
    margin-left: 0;
    opacity: 0.8;
    font-size: 1.2rem;
  }
  .flex-2 {
    display: flex;
    align-items: center;
    span {
      font-size: $caption;
    }
    i {
      color: $quote;
      height: 1rem;
      width: 1rem;
      margin-right: 1.5rem;
    }
  }
}

.no-log-wrapper {
  height: 100%;
  a {
    color: $emptyLink;
    text-decoration: none;
  }
}
// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .public-logs-container {
    grid-template-columns: 1fr;
  }
  .container h1 {
    font-size: 1.6rem;
    img {
      width: 35px;
      height: 30px;
    }
  }
}
