@import '../../styles/main.scss';

.container {
  h1 {
    display: flex;
    font-size: $bold;
  }
}

.logs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $default;
}

.log-article {
  padding: $padding;
  border-radius: $mini;
  box-shadow: $boxShadow;
  height: $height;
  background-color: $mustard;
  a {
    color: $customColor;
    width: max-content;
    h2 {
      margin-top: 0;
      margin-bottom: $default;
    }
  }
  blockquote {
    margin-left: 0;
    opacity: 0.8;
  }
  .flex-2 {
    display: flex;
    align-items: center;
    i {
      color: $grayColor;
      height: $default;
      width: $default;
      margin-right: $size;
    }
  }
}

.no-log-wrapper {
  height: $height;
  a {
    color: $blue;
    text-decoration: none;
  }
}

.brief {
  display: flex;
  color: $gray;
}

@media screen and (max-width: 768px) {
  .public-logs-container {
    grid-template-columns: $portion;
  }
}
