@import '../../styles/main.scss';

// NEW LOCATION WRAPPER STYLES
.new-location-wrapper {
  margin: $default 0;
  padding-left: 0;
  flex-direction: column;
  &::before,
  li {
    margin-bottom: $sizeD;
  }
}
// ADD LOG STYLES
.add-log-wrapper {
  width: $wdt;
  height: calc($biggerA - $pxl2);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: $padding;
  z-index: 10;
  overflow-y: auto;
  background-color: $whitesmoke;
  .bottom-nav {
    cursor: pointer;
    text-align: center;
    height: $pxl3;
    width: $big_pixel;
    margin: -1rem auto 1rem auto;
    background-color: $custCol3;
  }
  .tab-view {
    position: absolute;
    border-top-left-radius: $default;
    border-top-right-radius: $default;
    width: $height;
    top: 95%;
    left: 0;
  }
}
//NAVBAR LOG STYLE
.add-log-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $sizeE;
  h2 {
    margin: 0;
  }
  i {
    cursor: pointer;
    padding: $size;
    &:hover {
      border-radius: $maxRad;
      background-color: $custCol4;
    }
  }
}
