header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: #f4f4f4;
  background-color: #fbefcb;
  width: 100%;
  z-index: 20;
  .transparent {
    background-color: transparent;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbefcb;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 35px;
  }
  .logo {
    &:hover {
      opacity: 0.8;
    }
  }

  .logout {
    background-color: #000;
    color: #fff;
  }
  h1 {
    margin: 0;
    i {
      margin-right: 0.3rem;
    }
  }
  ul {
    align-items: center;
    padding-left: 0;
    li {
      a {
        cursor: pointer;
        margin-left: 2rem;
        text-decoration: none;
        text-align: center;
        i {
          margin-right: 0.3rem;
        }
      }
      button {
        margin-left: 2rem;
        i {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 500px) {
  header {
    h1 {
      font-size: 1.3em;
    }
    ul li {
      a,
      button {
        font-size: 0;
        margin-left: 1rem;
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
